.header-container {
  display: flex;
  // background-color: green;
  // margin: 150px 0px;
  margin-top: 160px;
  margin-bottom: 50px;
  width: 65%;
  max-width: 1350px;

  .header-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    // background-color: yellow;
    h1 {
      font-size: 42px;
      color: #7289da;
      padding-bottom: 50px;
    }
    span {
      font-size: 24px;
      line-height: 140%;
      color: #23272abb;
    }
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    // background-color: orange;
    .image-container {
      width: 470px;
      // height: 230px;
      // background-color: #2c2f33;
      img {
        // height: 100%;
        width: 100%;
        margin-left: 20px;
        position: relative;
        bottom: 20px;
      }
    }
  }
}

@media (max-width: 1315px) {
  .header-container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .header-container {
    width: 90%;
    // background-color: rgb(117, 117, 78);
    justify-content: center;
    .header-left {
      width: 90%;
    }
    .header-right {
      display: none;
    }
  }
}
