.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: rgb(163, 120, 120);
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}
