@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap");

.wave-container {
  display: flex;
  width: 100%;

  .waves {
    width: 100%;
    height: 6vh;
    min-height: 150px;
    max-height: 180px;
  }
  .parallax {
    animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .p1 {
    animation-delay: -2s;
    animation-duration: 25s;
  }
  .p2 {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .p3 {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .p4 {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes moveForever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}

.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: #000000e0;
  overflow-x: hidden;
  margin-bottom: 30px;
  padding: 20px 0px;
  .bottom-collection {
    // background-color: rgb(209, 159, 159);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 80px 0px;
    margin-bottom: 130px;
    // flex-wrap: wrap;

    .bottom-header {
      margin-bottom: 8px;
      padding: 0px 10px;
      span {
        color: #1b1b1b;
        font-size: 35px;
      }
    }
    .bottom-projects-container {
      display: flex;
      // background: rgb(142, 194, 142);
      // width: 50%;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      .bottom-project {
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        // width: 33%;
        min-width: 350px;
        max-width: 350px;
        min-height: 260px;
        margin: 14px;
        border-radius: 5px;
        border-left: 5px solid #202020;
        border-bottom: 5px solid #202020;
        transition: 0.2s;
        user-select: none;
        display: flex;
        flex-direction: column;
        .bottom-name-container {
          // background-color: rgb(133, 85, 85);
          width: 100%;
          display: flex;
          font-size: 22px;
          justify-content: space-between;
          font-weight: bold;
        }
        .bottom-description-container {
          font-size: 15px;
          font-family: "Nunito", sans-serif;
          font-weight: 600;
        }
        .bottom-buttons {
          display: flex;
          width: 100%;

          // background-color: red;
          justify-content: flex-end;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1b1b1b;
            margin-right: 6px;
            font-size: 25px;
            font-family: "Roboto", sans-serif;
            // box-shadow: 3px 6px 11px -7.5px rgba(0, 0, 0, 0.86);
            cursor: pointer;
            outline: none;
            margin-top: 5px;
          }

          a:hover {
            color: #037ded;
          }
        }
      }
    }
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgb(214, 130, 130);
    margin-top: 100px;
    width: 65%;
    max-width: 1200px;
    margin-bottom: 80px;
    .projects-header {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      span {
        font-size: 35px;
        color: #000000bb;
      }
    }

    .project-two {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      -webkit-transition: 0.2s;
      width: 90%;
      // height: 250px;
      // box-shadow: 0 19px 38px rgba(121, 121, 121, 0.3),
      //   0 10px 15px rgba(0, 0, 0, 0.568);
      margin-bottom: 110px;
      border-radius: 5px;
      // background-color: rgb(136, 212, 159);
      align-items: stretch;
      // position: relative;
      .project-image-container {
        display: flex;
        justify-content: flex-start;
        align-self: center;

        height: 100%;
        width: 45%;
        // position: relative;
        transition: left ease 0.5s;
        border-top-left-radius: 5px;
        // background-color: powderblue;
        // height: fit-content;
        img {
          height: 100%;
          width: 100%;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          // position: absolute;
          // background-color: powderblue;
          left: -15px;
          position: relative;
          transition: left ease 0.5s;
        }
      }
      .project-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        max-width: 1350px;
        // background-color: Green;
        // background-color: rgb(218, 218, 218);
        // background-color: white;
        // background-color: transparent;

        // color: #4682b4;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .feature-container {
          // background-color: tan;
          display: flex;
          padding: 8px 0px;
          font-size: 20px;
          color: #4682b4;
          justify-content: flex-start;
        }
        .content-header {
          display: flex;
          justify-content: flex-start;
          // background-color: Green;
          // padding: 10px;
          .project-name-container {
            display: flex;
            // flex-direction: column;
            justify-content: flex-start;
            // align-items: flex-end;
            width: 100%;
            // background-color: rgb(170, 120, 170);
            font-size: 26px;
            margin-left: 10px;
            padding: 8px 0px;
            margin-bottom: 8px;

            letter-spacing: 0.5px;
            color: black;
            font-weight: 500;
          }
        }
        .stack-container {
          display: flex;
          width: 100%;
          // background-color: rgb(202, 113, 113);
          justify-content: flex-start;
          padding: 8px 0px;
          .stack {
            display: flex;
            align-items: center;
            span {
              padding: 4px 10px;
              background-color: white;
              border: 2px solid #037ded;
              box-shadow: 0px 2px 4.5px rgba(0, 0, 0, 0.363);
              margin: 3px;
              color: black;
              font-weight: bold;
              border-radius: 10px;
              font-size: 14px;
            }
          }
        }
        .view-project-container {
          display: flex;
          justify-content: flex-start;
          padding: 10px 20px;
          font-size: 25px;
          margin: 0px;
          a {
            text-decoration: none;
            color: #1b1b1b;
            cursor: pointer;
            // margin-right: 15px;
            transition: 0.2s;
          }
          a:hover {
            color: #037ded;
          }
          span {
            color: #1b1b1b;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            // margin-right: 15px;
            margin-left: 5px;
          }
          span:hover {
            color: #037ded;
          }
        }
        .description-container {
          display: flex;
          // justify-content: flex-end;
          // padding: 0px 20px;
          width: 100%;
          background-color: #1b1b1b;
          border-radius: 5px;
          box-shadow: 3px 3px 10px -3px #000;
          transition: 1s;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          position: relative;
          // min-height: 60px;
          padding: 20px 15px;
          margin: 0 0 20px;
          // right: 0px;
          // left: 100%;
          left: 15px;
          // top: 30%;
          z-index: 100;
          transition: left ease 0.5s;
          p {
            font-size: 16px;
            // color: rgb(34, 33, 33);
            color: white;
            text-align: left;
            line-height: 1.5;
            // font-family: nun;
          }
        }
      }
    }
    .project-two:hover {
      .project-image-container {
        img {
          left: 0px;
        }
      }
      .description-container {
        left: 0px;
      }
    }

    .project {
      display: flex;
      justify-content: center;
      -webkit-transition: 0.2s;
      width: 90%;
      // height: 250px;
      // box-shadow: 0 19px 38px rgba(121, 121, 121, 0.3),
      //   0 10px 15px rgba(0, 0, 0, 0.568);
      margin-bottom: 110px;
      border-radius: 5px;
      // background-color: rgb(136, 212, 159);
      align-items: stretch;
      // position: relative;
      .project-image-container {
        display: flex;
        justify-content: flex-end;
        align-self: center;

        height: 100%;
        width: 45%;
        // position: relative;
        transition: right ease 0.5s;
        border-top-left-radius: 5px;
        // background-color: powderblue;
        // height: fit-content;
        img {
          height: 100%;
          width: 100%;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          // position: absolute;
          // background-color: powderblue;
          right: -15px;
          position: relative;
          transition: right ease 0.5s;
        }
      }
      .project-content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        max-width: 1350px;
        // background-color: Green;
        // background-color: rgb(218, 218, 218);
        // background-color: white;
        // background-color: transparent;

        // color: #4682b4;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .feature-container {
          // background-color: tan;
          display: flex;
          padding: 8px 0px;
          font-size: 20px;
          color: #4682b4;
          justify-content: flex-end;
        }
        .content-header {
          display: flex;
          justify-content: flex-end;
          // background-color: Green;
          // padding: 10px;
          .project-name-container {
            display: flex;
            // flex-direction: column;
            justify-content: flex-end;
            // align-items: flex-end;
            width: 100%;
            // background-color: rgb(170, 120, 170);
            font-size: 26px;
            margin-left: 10px;
            padding: 8px 0px;
            margin-bottom: 8px;

            letter-spacing: 0.5px;
            color: black;
            font-weight: 500;
          }
        }
        .stack-container {
          display: flex;
          width: 100%;
          // background-color: rgb(202, 113, 113);
          justify-content: flex-end;
          padding: 8px 0px;
          .stack {
            display: flex;
            align-items: center;
            span {
              padding: 4px 10px;
              background-color: white;
              border: 2px solid #037ded;
              box-shadow: 0px 2px 4.5px rgba(0, 0, 0, 0.363);
              margin: 3px;
              color: black;
              font-weight: bold;
              border-radius: 10px;
              font-size: 14px;
            }
          }
        }
        .view-project-container {
          display: flex;
          justify-content: flex-end;
          padding: 10px 20px;
          font-size: 25px;
          margin: 0px;
          a {
            text-decoration: none;
            color: #1b1b1b;
            cursor: pointer;
            // margin-right: 15px;
            transition: 0.2s;
          }
          a:hover {
            color: #037ded;
          }
          span {
            color: #1b1b1b;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            // margin-right: 15px;
            margin-left: 5px;
          }
          span:hover {
            color: #037ded;
          }
        }
        .description-container {
          display: flex;
          justify-content: flex-start;
          // padding: 0px 20px;
          width: 100%;
          background-color: #1b1b1b;
          border-radius: 5px;
          box-shadow: 3px 3px 10px -3px #000;
          transition: 1s;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          position: relative;
          // min-height: 60px;
          padding: 20px 15px;
          margin: 0 0 20px;
          // right: 0px;
          // left: 100%;
          right: 15px;
          // top: 30%;
          z-index: 100;
          transition: right ease 0.5s;
          p {
            font-size: 16px;
            // color: rgb(34, 33, 33);
            color: white;
            text-align: right;
            line-height: 1.5;
            // font-family: nun;
          }
        }
      }
    }

    .project:hover {
      .project-image-container {
        img {
          right: 0px;
        }
      }
      .description-container {
        right: 0px;
      }
    }
  }
}
.project-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .project-main-header {
    margin-top: 70px;
    width: 65%;
    max-width: 1200px;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(190, 124, 124);
    margin-bottom: 30px;
    margin-top: 90px;
    h1 {
      font-size: 50px;
      //   color: #7289da;
      color: black;
      font-family: "Roboto", sans-serif;

      margin-bottom: 10px;
      line-height: 120%;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      // color: rgba(255, 255, 255, 0.89);
      color: black;
      text-align: center;
    }
  }
  .slider {
    display: flex;
    width: 70%;
    max-width: 1350px;
    height: 400px;
    // background-color: rgb(139, 107, 107);
    padding: 0px 10px;
    margin-bottom: 100px;
    .caro {
      height: 100%;
      // background-color: green;
      img {
        height: 250px;
        width: 100%;
      }
      .angle-double-left {
        font-size: 20px;
        height: 30px;
        width: 30px;
        background-color: rgba(214, 213, 213, 0.336);
        color: white;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
      }
      .angle-double-right {
        font-size: 20px;
        background-color: rgba(214, 213, 213, 0.336);
        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        //   margin-left: 5px;
      }
    }
  }

  .project-about-section {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // background-color: #815a5a;
    .project-detail-header {
      display: flex;
      flex-direction: column;
      // background-color: red;
      width: 70%;
      max-width: 1200px;
      margin-top: 60px;
      margin-bottom: 100px;
      h1 {
        font-size: 45px;
        color: black;
        margin-bottom: 20px;
      }
      p {
        font-size: 25px;
        line-height: 1.3;
        color: black;
      }
    }
    .project-tech-section {
      display: flex;
      flex-direction: column;
      width: 70%;
      max-width: 1200px;
      margin-bottom: 100px;

      h1 {
        color: #2c2f33;
        font-size: 35px;
      }
      .tech-labels-container {
        display: flex;
        flex-direction: row;
        width: 70%;
        max-width: 1200px;

        // background-color: yellow;
        margin-top: 20px;
        flex-wrap: wrap;
        .tech-label {
          display: flex;
          align-items: center;
          box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
          padding: 16px 32px;
          font-size: 20px;
          color: #23272a;
          background-color: #fff;
          margin: 0px 8px 8px 0px;
          border-radius: 28px;
          min-width: 102px;
          //   max-width: 150px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }

    .project-links-container {
      display: flex;
      flex-direction: column;
      width: 70%;
      max-width: 1200px;

      // background-color: yellow;
      margin-top: 40px;
      margin-bottom: 40px;
      .button-container {
        display: flex;
        margin-top: 15px;
        transition: 0.2s;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #1b1b1b;
          margin-right: 20px;
          font-size: 26px;
          font-family: "Roboto", sans-serif;
          // box-shadow: 3px 6px 11px -7.5px rgba(0, 0, 0, 0.86);
          cursor: pointer;
          outline: none;
          margin-top: 5px;
          transition: 0.1.5s;
        }

        a:hover {
          color: #037ded;
        }
      }
    }
  }
  .project-video-main {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // background-color: #000000e0;
    padding-bottom: 30px;
    padding-bottom: 100px;
    .project-video-header {
      display: flex;
      margin-bottom: 20px;

      h1 {
        font-size: 40px;
        color: #fff;
      }
    }
    .player-container {
      display: flex;
      // background-color: orange;
      width: 40%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

@media (max-width: 1315px) {
  .projects-main {
    .slider {
      width: 90%;

      .caro {
      }
    }
    .projects-container {
      width: 90%;
    }
  }
}

@media (max-width: 1135px) {
  .projects-main {
    .projects-container {
      width: 70%;
      height: 60%;
      // background-color: rgb(136, 111, 111);
      .project {
        .project-image-container {
          width: 100%;
          height: 100%;
          // background-color: Red;
        }
        .project-content-container {
          width: 100%;
          .content-header {
            flex-direction: column;
            align-items: center;
            .project-name-container {
              justify-content: flex-end;
            }
            .stack-container {
              justify-content: flex-end;
              width: 100%;
              // background-color: green;
              .stack {
              }
            }
          }
          .view-project-container {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media (max-width: 1315px) {
  .projects-main {
    .projects-container {
      width: 90%;

      .project-two {
        width: 100%;

        .project-image-container {
          width: 100%;
          height: 100%;
        }
        .project-content-container {
          width: 100%;
          .content-header {
            flex-direction: column;
            align-items: center;
            .project-name-container {
              justify-content: flex-start;
            }
            .stack-container {
              justify-content: flex-start;
              width: 100%;

              .stack {
              }
            }
          }
          .view-project-container {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@media (max-width: 1315px) {
  .projects-main {
    .projects-container {
      width: 90%;

      .project {
        width: 100%;

        .project-image-container {
          width: 100%;
          height: 100%;
        }
        .project-content-container {
          width: 100%;
          .content-header {
            flex-direction: column;
            align-items: center;
            .project-name-container {
              justify-content: flex-end;
            }
            .stack-container {
              justify-content: flex-end;
              width: 100%;

              .stack {
              }
            }
          }
          .view-project-container {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .projects-main {
    .bottom-header {
      display: flex;
      justify-content: flex-end;
    }
    .bottom-collection {
      .bottom-projects-container {
        // background-color: yellow;
        .bottom-project {
          width: 400px;
          max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 1315px) {
  .project-main {
    .project-main-header {
      width: 90%;
    }
    .slider {
      width: 90%;
      .caro {
      }
    }
    .project-about-section {
      .project-detail-header {
        width: 90%;
      }
      .project-tech-section {
        width: 90%;
      }
      .front-end-section {
        width: 90%;
      }
      .back-end-section {
        width: 90%;
      }
      .database-section {
        width: 90%;
      }
      .project-links-container {
        width: 90%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .project-main {
    .project-main-header {
      width: 90%;
    }
    .slider {
      width: 90%;
      .caro {
      }
    }
    .project-about-section {
      .project-detail-header {
        width: 90%;
      }
      .project-tech-section {
        width: 90%;
        .tech-labels-container {
          // background-color: green;
          width: 90%;
        }
      }
      .front-end-section {
        width: 90%;
      }
      .back-end-section {
        width: 90%;
      }
      .database-section {
        width: 90%;
      }
      .project-links-container {
        width: 90%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .project-main {
    .project-video-main {
      .player-container {
        width: 60%;
      }
    }
  }
}

@media (max-width: 800px) {
  .projects-main {
    .projects-container {
      width: 90%;
      // height: 60%;

      .project {
        .project-image-container {
          display: none;
        }
        .project-content-container {
          .description-container {
            right: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .projects-main {
    .projects-container {
      width: 90%;
      // height: 60%;

      .project-two {
        .project-image-container {
          display: none;
        }
        .project-content-container {
          .description-container {
            left: 0px;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .project-main {
    .project-video-main {
      .player-container {
        width: 90%;
      }
    }
  }
}
